 .forgetPassword{
    color: #0f0f68;
}

.forgetPassword h1{
    font-family: 'Open Sans', sans-serif;
}


.forgetBtn{
    border: none !important;
}

.submitBtn{
    /* font-size: 25px !important; */
    background-color: #0f0f68 !important;
    border: none !important;
    /* padding: 3px 23px !important; */
    /* font-weight: 600 !important; */
}
.submitBtn:hover{
    background-color: #1d2a90 !important;
}

@media only screen and (min-width: 480px) {
    .forgetPassword{
        width: 45% !important;
    }
}
@media only screen and (min-width: 1025px) {
    .forgetPassword{
        width: 30% !important;
    }
}